.login-form{
    display: flex;
    flex-direction: column;
    color: rgba(0,0,0,0.65);
}
.login-form label, .login-form input, .login-form button{
    margin-top: 15px;
}

.login-form input{
    padding: 12px;
    padding-right: 30px;
    border: 1px solid rgba(0,0,0,0.6);
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}
.login-form input:focus{
    outline: none;
    border: 1px solid rgba(0,0,0,0.9);
}

.required-label::before{
    content: "*";
    color: rgb(255, 0, 0);
    padding: 4px;
    vertical-align: middle;
}

.login-form a{
    text-decoration: none;
    color: rgba(0,0,0,0.65);
    align-self: center;
    margin-bottom: 15px;
}

.login-form .eye{
    align-self: flex-end;
    position: relative;
    bottom: 30px;
    right: 4px;
    margin-bottom: -18px;
    font-size: large;
    cursor: pointer;
}